moretest.py
__pycache__
calculate_FST_avg.py
log.txt
main.py
sig_output.csv
all_output.csv
random_fst_test.csv
results.txt
missense*
exons*
garter_snake_outputs
Alternative_layout_CEA.csv
CategoryAssignments_test.csv
CorrectEcotypeAssignments.csv
